[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
proxmoxer = ">=1.1.1"

[dev-packages]
yamllint = "*"
ansible-lint = "*"
argcomplete = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
